bin/
obj/

[Tt]emp/
[Vv]iews/
[Ii]node_modules/
[Ii]jspm_packages/

packages/

*.user
*.vscode
*.suo
*.sln.docstates

*.nupkg
*.log
*.sqlite
*.sqlite3
*.mdf
*.ldf

.env
.vsenv

certs/

.DS_Store
Thumbs.db

# client

igovit-client/dist
igovit-client/dist-server
igovit-client/tmp
igovit-client/out-tsc

igovit-client/node_modules

igovit-client/.idea
igovit-client/.project
igovit-client/.classpath
igovit-client/.c9/
igovit-client/*.launch
igovit-client/.settings/
igovit-client/*.sublime-workspace

igovit-client/.vscode/*
igovit-client/!.vscode/settings.json
igovit-client/!.vscode/tasks.json
igovit-client/!.vscode/launch.json
igovit-client/!.vscode/extensions.json

igovit-client/.sass-cache
igovit-client/connect.lock
igovit-client/coverage
igovit-client/libpeerconnection.log
igovit-client/npm-debug.log
igovit-client/yarn-error.log
igovit-client/testem.log
igovit-client/typings

igovit-client/.angular