<h1 id="tableLabel">Users</h1>

<p>Here you can see a complete list of users</p>

@if (!users?.length) {
<p><em>Loading...</em></p>
}

@if (!isAuthenticated) {
<p class="mt-3 alert alert-danger"><em>You need to be <a href="/access">logged</a>.</em></p>
} @else {
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.login }}</td>
      <td>{{ user.status }}</td>
    </tr>
  </tbody>
</table>
}