<h1 id="tableLabel">Users</h1>

<p>Here you can see a complete list of users</p>

<p *ngIf="!users?.length"><em>Loading...</em></p>

<p *ngIf="!isAuthenticated" class="mt-3 alert alert-danger"><em>You need to be <a href="/access">logged</a>.</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="isAuthenticated">
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.login }}</td>
      <td>{{ user.status }}</td>
    </tr>
  </tbody>
</table>